<h4 class="text-center">FOOTBALL UPDATES</h4>
<br />
<div class="d-flex justify-content-center">
  <div
    class="btn-group btn-group-lg"
    role="group"
    aria-label="Large button group"
  >
    <ng-container *ngFor="let country of countriesObjectKeys()">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="{{ country }}Select"
        (click)="selectCountry(country)"
        [ngClass]="{ active: selectedCountry === country }"
      >
        {{ country | titlecase }}
      </button>
    </ng-container>
  </div>
</div>
<br />
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Games</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">D</th>
        <th scope="col">Goal Difference</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let standingsteam of standingsteams">
        <th scope="row">{{ standingsteam.rank }}</th>
        <td>
          <img
            src="{{ standingsteam.team.logo }}"
            alt="{{ standingsteam.team.name }}"
            width="30"
            height="30"
          />
        </td>
        <td
          routerLink="{{ selectedCountry }}/{{ standingsteam.team.id }}/"
          class="btn"
        >
          {{ standingsteam.team.name }}
        </td>
        <td>{{ standingsteam.all.played }}</td>
        <td>{{ standingsteam.all.win }}</td>
        <td>{{ standingsteam.all.lose }}</td>
        <td>{{ standingsteam.all.draw }}</td>
        <td>{{ standingsteam.goalsDiff }}</td>
        <td>{{ standingsteam.points }}</td>
      </tr>
    </tbody>
  </table>
</div>
