<h4 class="text-center">FOOTBALL UPDATES</h4>
<br />

<table class="table table-borderless">
  <tbody>
    <tr *ngFor="let lastTenResult of lastTenResults">
      <td>
        <img
          src="{{ lastTenResult.teams.home.logo }}"
          alt="{{ lastTenResult.teams.home.name }}"
          width="30"
          height="30"
        />
      </td>
      <td>{{ lastTenResult.teams.home.name }}</td>
      <td>{{ lastTenResult.goals.home }}</td>
      <td>-</td>
      <td>{{ lastTenResult.goals.away }}</td>
      <td>{{ lastTenResult.teams.away.name }}</td>
      <td>
        <img
          src="{{ lastTenResult.teams.away.logo }}"
          alt="{{ lastTenResult.teams.away.name }}"
          width="30"
          height="30"
        />
      </td>
    </tr>
  </tbody>
</table>
<div class="d-grid gap-1 mx-auto">
  <button class="btn btn-primary" type="button" (click)="back()">Back</button>
</div>
